@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700;800&display=swap');

body,
html {
    font-family: 'Public sans', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.app_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.page_wrapper {
    width: 100%;
    height: 100%;
}

.dark {
    background-color: #03396C;
    color: #fff;
}

.page_container {
    width: 100%;
}